@model GamesShop.Models.Developer
@{
    ViewData["Title"] = "GamesShop";
}

<!DOCTYPE html>
<html>
<head>
    <title>Редактирование информации о разработчике</title>
</head>
<body>
    <div>
        <h3>Форма редактирования разработчика @*@Model.NameOfDeveloper*@</h3>


        <form method="post" class="form-group">
            <div asp-validation-summary="All">
                <div class="form-group">
                    <label asp-for="IdDeveloper">  Id разработчика:</label>
                    <input asp-for="IdDeveloper" readonly="readonly" class="form-control" style="width:50%" />
                </div>
                <div class="form-group">
                    <label asp-for="NameOfDeveloper">  Название разработчика:</label>
                    <input asp-for="NameOfDeveloper" class="form-control" style="width:50%" />
                </div>
                <div class="form-group">
                    <label asp-for="LinkToTheWebSite"> Ссылка на веб сайт:</label>
                    <input asp-for="LinkToTheWebSite" class="form-control" style="width:50%" />
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" id="button" value="Применить изменения" />
                </div>
            </div>


        </form>

        <h3>@ViewData["MessageEdit"]</h3>



    </div>
</body>
</html>
