<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/styles_main.css" />
</head>
<body>
    Добро пожаловать на сайт @User.Identity.Name !
    <!--меню-->
    <header>

        <nav>
            <ul class="topmenu">
                <li class="submenu-link">
                    <a href="~/Home/Index">Разработчики</a>
                    <ul class="submenu">
                        <li><a href="~/Home/Index">Список разработчиков</a></li>
                        @if (User.IsInRole("admin"))
                        {
                            <li><a href="~/Home/AddDeveloper">Добавление разработчиков</a></li>
                        }
                    </ul>
                </li>
                <li class="submenu-link">
                    <a href="~/Games/ListGames">Игры</a>
                    <ul class="submenu">
                        <li><a href="~/Games/ListGames">Список игр</a></li>
                        @if (User.IsInRole("admin"))
                        {
                            <li><a href="~/Games/AddGames">Добавление игр</a></li>
                        }

                    </ul>
                </li>
                <li class="submenu-link">
                    @*<a href="~/Roles/UserList">Список пользователей</a>*@
                    @if (User.IsInRole("admin"))
                    {
                        <a href="~/Roles/UserList">Список пользователей</a>
                    }
                </li>
                <li>
                    <a href="~/Cart/CartView">Корзина</a>
                </li>
                <li class="submenu-link">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/Logout">Выход</a>
                    }
                    else
                    {
                        <a href="~/Account/Login">Вход</a>
                    }

                </li>
                <li class="submenu-link">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">Профиль</a>
                    }
                </li>
                <li class="submenu-link">
                    <a href="~/Account/Register">Регистрация</a>
                </li>


            </ul>
            <form asp-controller="Games" asp-action="ListGames" method="post">
                Поиск:<input type="text" name="SearchString"/>
                <input type="submit" value="Найти" />
            </form>
        </nav>

    </header>


    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2021 - GameShop</p>
        </footer>
    </div>
</body>
<script> </script>
</html>