<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/styles_main.css" />
</head>
<body>
    <!--меню-->
    <header>
    <nav >
        <ul class="topmenu">
            <li class="submenu-link">
                <a href="~/Home/Index">Разработчики</a>
                <ul class="submenu">
                    <li><a href="~/Home/Index">Список разработчиков</a></li>
                    <li><a href="~/Home/AddDeveloper">Добавление разработчиков</a></li>
                </ul>
            </li>
            <li class="submenu-link">
                <a href="~/Games/GamesList">Игры</a>
                <ul class="submenu">
                    <li><a href="~/Games/GamesList">Список игр</a></li>
                    <li><a href="~/Games/AddGames">Добавление игр</a></li>
                </ul>
            </li>
            <li class="submenu-link">
                <a href="~/Identity/Pages/Account/Login">Вход</a>
            </li>
            <li class="submenu-link">
                <a href="~/Account/Register">Регистрация</a>
            </li>

        </ul>
    </nav>
      </header>
               
  
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2021 - GameShop</p>
        </footer>
    </div>
</body>
<script> </script>
</html>