@model GamesShop.Models.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "GameStore: ваша корзина";
}

    <div>
        @foreach (var item in Model.Cart.listShopItems)
        {
            <div>
                <b>Игра:</b>@using (GamesShopDB_Context db = new GamesShopDB_Context())
                {
                    var gr = db.Games.FirstOrDefault(x => x.IdGame == item.game.IdGame);
                    @gr.NameOfGame
                }<br />
                <b>
                    Цена:  @using (GamesShopDB_Context db = new GamesShopDB_Context())
                    {
                        var gr = db.Games.FirstOrDefault(x => x.IdGame == item.game.IdGame);
                        @gr.Cost
                    }грн
                </b>
            </div>
            <form asp-action="removeFromCart" asp-controller="Cart" asp-route-id="@item.ShopCartId">
                <button class="btn btn-danger" type="submit">Удалить из корзины</button>
            </form>
        }
        Общая стоимость: <b>
        @{
            int summ = 0;
            foreach (var item in Model.Cart.listShopItems)
            {
                summ += item.game.Cost;
            }
            @summ
        } грн.</b>

        @if (User.IsInRole("user") || User.IsInRole("admin"))
        {
            <a class="btn btn-warning" asp-controller="Order" asp-action="CheckoutAutorize" asp-route-name="@User.Identity.Name">Оплатить</a>
        }
        else
        {
            <a class="btn btn-warning" asp-controller="Order" asp-action="Checkout">Оплатить</a>
        }

    </div>

