@model IEnumerable<GamesShop.Models.User>

<h2>Список пользователей</h2>

<table >
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a asp-action="EditRoles" asp-route-userid="@user.Id">Права доступа</a>
                <a asp-controller="Roles"asp-action="EditUser" asp-route-id="@user.Id">Изменить</a>
                <form asp-controller="Roles" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <button type="submit">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
    
</table>
<a href="~/Roles/IndexRoles">Список ролей</a>
