@model GamesShop.Models.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
        
</head>
<body>
<h2>Вход в личный кабинет</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" style="width:50%"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" style="width:50%"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-check">
        
        <input class="form-check-input" asp-for="RememberMe"  /><br />
        <label class="form-check-label" asp-for="RememberMe"></label>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Войти" />
    </div>
</form>
</body>
</html>