@model GamesShop.Models.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>Выход из личного кабинета</h2>

    <form method="post" asp-controller="Account" asp-action="Logout">
     
        <div>
            <input type="submit" value="Выйти" />
        </div>
    </form>
</body>
</html>