@model GamesShop.Models.User
@{
    
}
    <h3>Личный кабинет <label asp-for="UserName">@Model.UserName</label></h3>
    <form asp-action="Profile" method="post">
        <div asp-validation-summary="All">
            <div>
                <input type="hidden" asp-for="Id" />
            </div>
         

            <div>
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" />
            </div>
            <div>
                <label asp-for="Year">Дата рождения</label>
                <input type="date" asp-for="Year" />
            </div>
            <div>
                <label asp-for="ID_Card">Id карты:</label>
                <input type="text" asp-for="ID_Card" />
            </div>
            <div>
                <input type="submit" value="Сохранить изменения" />
            </div>
        </div>
    </form>
    <a asp-controller="Order" asp-action="ListOrdersOfUser" asp-route-name="@User.Identity.Name"> Просмотреть историю заказов</a>