@model IEnumerable<ContentOfOrder>

<h3>Подробности заказа</h3>
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th scope="col">
                Id заказа:
                </th>
                <th scope="col">
                    Название игры:
                </th>
                <th scope="col">
                Стоимость игры:
                </th>
            </tr>

            @foreach (var contord in Model)
            {
                <tr>
                    <td>
                        @contord.IdOrder
                    </td>
                    <td>
                        @contord.IdGameNavigation.NameOfGame
                    </td>
                    <td>
                        @contord.IdGameNavigation.Cost грн.
                    </td>
                </tr>
            }
        </table>
    </div>
