
<!DOCTYPE html>
<html>
<head>
    <title>Добавление информации о разработчике</title>
</head>
<body>
    <div>
        <h3>Форма добавления жанра</h3>
        <p>Для добавления разработчика заполните следующие поля:</p>
        <form method="post" class="form-horizontal" role="form">
          
            <div class="form-group">
                <label for="NameOfPublisher" class="col-md-2 control-label">  Название жанра:</label>
                    <input type="text" name="NameOfGenre" class="form-control" style="width: 50%"/>
            </div>
            <div class="form-group">
                <label for="LinkToTheWebSite" class="col-md-2 control-label"> Описание жанра:</label>
                    <textarea type="text" name="Description" class="form-control" style="width: 50%">
                    </textarea>
            </div>
            <div >
                    <input class="btn btn-primary"type="submit" id="button"  value="Добавить" />
            </div>

        </form>
        <h3>@ViewData["Message"]</h3>
      
        
    </div>
</body>
</html>
