@model IEnumerable<GamesShop.Models.Games>


@{
    ViewData["Title"] = "Библиотека игр";

}
<!DOCTYPE html>
<html>
<head>
    <title>Магазин компьютерных игр</title>
</head>
<body>
    <h3> Список игр </h3>
    <table class="table-condensed">
        <tr>
            <td></td>
            <td> Название игры:</td>
            <td> Дата Релиза:</td>
            
        </tr>
        @foreach (var games in Model)
        {
    <tr>
        <td><img src="@games.Image" alt="@games.Image"></td>
        <td> @games.NameOfGame</td>
        <td>@Html.DisplayFor(modelItem => games.DateOfRelease) </td>
        <td></td>

    </tr>
        }

    </table>

   

</body>
</html>